.row.xepan-push
	.col-md-4.atk-form-row
		{$title}
	.col-md-5.atk-form-row 	
		|Communication Type: {$type}
	.col-md-3.atk-form-row
		|Status: {$status}
.row.xepan-push
	.col-md-12.atk-form-row
		{$body}
.row.xepan-push
	{$signature}
.row.xepan-push
	.col-md-6.atk-form-row
		|From Email-Id: {$from_email}
.row.xepan-push
	.col-md-4.atk-form-row
		{$notify_email}
	.col-md-8.atk-form-row
		{$notify_email_to}
.row.xepan-push.atk-form-row
	.col-md-4
		{$email_to}
	.col-md-4
		{$cc_mails}
	.col-md-4
		{$bcc_mails}	
.row.xepan-push
	.col-md-4.atk-form-row
		|From Number: {$from_phone}
	.col-md-4.atk-form-row
		|To: {$called_to}
	.col-md-4.atk-form-row	 
		|Employee: {$from_person}
.row.xepan-push
	.col-md-4.atk-form-row
		|From Number: {$from_number}
	.col-md-4.atk-form-row
		|To: {$sms_to}
	.col-md-4										
.row.xepan-push
	.col-md-6
		{$FormButtons}									
