
<div class="row xepan-push">
  <div class="col-md-4 atk-form-row">{$title}</div>
  <div class="col-md-5 atk-form-row">
    	
    Communication Type: {$type}
  </div>
  <div class="col-md-3 atk-form-row">Status: {$status}</div>
</div>
<div class="row xepan-push">
  <div class="col-md-12 atk-form-row">{$body}</div>
</div>
<div class="row xepan-push">{$signature}</div>
<div class="row xepan-push">
  <div class="col-md-4 atk-form-row">From Email-Id: {$from_email}</div>
  <div class="col-md-2 atk-form-row">Notify via Email {$notify_email}</div>
  <div class="col-md-6 atk-form-row">Notify On Emails {$notify_email_to}</div>
</div>
<div class="row xepan-push atk-form-row">
  <div class="col-md-4">{$email_to}</div>
  <div class="col-md-4">{$cc_mails}</div>
  <div class="col-md-4">{$bcc_mails}	</div>
</div>
<div class="row xepan-push">
  <div class="col-md-4 atk-form-row">From Number: {$from_phone}</div>
  <div class="col-md-4 atk-form-row">To: {$called_to}</div>
  <div class="col-md-4 atk-form-row">
    	 
    Employee: {$from_person}
  </div>
</div>
<div class="row xepan-push">
  <div class="col-md-4 atk-form-row">From Number: {$from_number}</div>
  <div class="col-md-4 atk-form-row">To: {$sms_to}</div>
  <div class="col-md-4">										</div>
</div>
<div class="row xepan-push">
  <div class="col-md-6">{$FormButtons}									</div>
</div>