#email-new-nano.has-scrollbar(style='height: 478px;')
  .email-new-nano-content(tabindex='0', style='right: -12px;')
    #email-new-inner
      #email-new-title.clearfix
        span.subject New Email
      #email-new-header
        .row.form-group
          label.col-md-2(for='exampleInpTo') From:
          .col-md-10
            #exampleInpTo.form-control-s2.email-recepients(type='text', placeholder='Enter recepients') {$email_from}
          label.col-md-2(for='exampleInpTo') To:
          .col-md-10
            #exampleInpTo.form-control-s2.email-recepients(type='text', placeholder='Enter recepients') {$email_to}
        .row.form-group
          label.col-md-2(for='exampleInpCc') CC:
          .col-md-10
            #exampleInpCc.form-control-s2.email-recepients(type='text', placeholder='Enter recepients') {$email_cc}
        .row.form-group
          label.col-md-2(for='exampleInpSubject') Subject:
          .col-md-10
            #exampleInpSubject.form-control(type='text', placeholder='Enter subject') {$email_subject}
      #email-new-body
        {$email_body}
      #email-new-footer
        .row
          .col-xs-12.col-md-10.col-md-offset-2
            .pull-right
              .btn-group
                button.btn.btn-default(type='button')
                  i.fa.fa-times
                  |  Cancel
              .btn-group
                button.btn.btn-success(type='button')
                  i.fa.fa-send
                  |  Send email
  .nano-pane
    .nano-slider(style='height: 344px; transform: translate(0px, 0px);')
