
<div id="email-new-nano" style="height: 478px;" class="has-scrollbar">
  <div tabindex="0" style="right: -12px;" class="email-new-nano-content">
    <div id="email-new-inner">
      <div id="email-new-title" class="clearfix"><span class="subject">New Email</span></div>
      <div id="email-new-header">
        <div class="row form-group">
          <label for="exampleInpTo" class="col-md-2">From:</label>
          <div class="col-md-10">
            <div id="exampleInpTo" type="text" placeholder="Enter recepients" class="form-control-s2 email-recepients">{$email_from}</div>
          </div>
          <label for="exampleInpTo" class="col-md-2">To:</label>
          <div class="col-md-10">
            <div id="exampleInpTo" type="text" placeholder="Enter recepients" class="form-control-s2 email-recepients">{$email_to}</div>
          </div>
        </div>
        <div class="row form-group">
          <label for="exampleInpCc" class="col-md-2">CC:</label>
          <div class="col-md-10">
            <div id="exampleInpCc" type="text" placeholder="Enter recepients" class="form-control-s2 email-recepients">{$email_cc}</div>
          </div>
        </div>
        <div class="row form-group">
          <label for="exampleInpSubject" class="col-md-2">Subject:</label>
          <div class="col-md-10">
            <div id="exampleInpSubject" type="text" placeholder="Enter subject" class="form-control">{$email_subject}</div>
          </div>
        </div>
      </div>
      <div id="email-new-body">{$email_body}</div>
      <div id="email-new-footer">
        <div class="row">
          <div class="col-xs-12 col-md-10 col-md-offset-2">
            <div class="pull-right">
              <div class="btn-group">
                <button type="button" class="btn btn-default"><i class="fa fa-times"></i> Cancel</button>
              </div>
              <div class="btn-group">
                <button type="button" class="btn btn-success"><i class="fa fa-send"></i> Send email</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="nano-pane">
    <div style="height: 344px; transform: translate(0px, 0px);" class="nano-slider"></div>
  </div>
</div>