
<div class="main-box clearfix">
  <div class="tabs-wrapper profile-tabs">
    <ul class="nav nav-tabs responsive-tabs">
      <li class="active"><a data-toggle="tab" href="#reset-password">Reset Password Mail</a></li>
      <li><a data-toggle="tab" href="#update-password">Update Password Mail</a></li>
    </ul>
    <div class="tab-content">
      <div id="reset-password" class="tab-pane active">
        {Content}
        {$reset_email}
        {/}
      </div>
      <div id="update-password" class="tab-pane">
        {Content}
        {$updatepassword_view}
        {/}
      </div>
    </div>
  </div>
</div>