#email-box.clearfix
  {compose_btn_header}
  {/compose_btn_header}
  .row
    .col-lg-12
      //- .compose-email-view-popup(style="display:none")
      //-     {$compose_view}
      #email-navigation.email-nav-nano.has-scrollbar(style="margin-top:45px")
        .email-nav-nano-content(tabindex='0', style="overflow-y:hidden")
          .col-lg-12(id="{$_name}")
          div.mobile-email-navigation-tool.mobile-email-navigation-tool-closed
            a.mobile-email-navigation-tool-cog.hidden-md.hidden-lg
              i.fa.fa-filter.fa-2x
            div.mobile-email-navigation-tool-options  
              {$email_navigation}
              {$email_labels}
        .nano-pane(style='display: none;')
          .nano-slider(style='transform: translate(0px, 0px);')
      #email-content.email-content-nano.has-scrollbar(style='')
        {$email_lister}
        div.email-detail(style="display:none")
          {$email_detail}
script.
    $(".mobile-email-navigation-tool-cog").click(function(){
        $(this).parent('div.mobile-email-navigation-tool').toggleClass("mobile-email-navigation-tool-closed");
    });
    $('.mobile-email-navigation-tool-options li a').click(function(){
        $('.mobile-email-navigation-tool').toggleClass("mobile-email-navigation-tool-closed");
    });
    $(document).ready(function() {
        $('#page-wrapper').addClass('nav-small');
      });      
style.
  #email-box{
    margin-bottom:20px!important;
  }