#email-box.clearfix
  #email-header-mobile.visible-xs.visible-sm.clearfix
      #email-header-title-mobile.pull-left
        i.fa.fa-inbox
        |  Inbox
      a.user-link(href='{url}?page=xepan_communication_composeemail{/}')
        a.btn.btn-success.email-compose-btn.pull-right()
          i.fa.fa-pencil-square-o
          |  Compose email
    header#email-header.clearfix
      #email-header-title.visible-md.visible-lg
        i.fa.fa-inbox
        |  Inbox  
  .row
    .col-lg-12
      #email-navigation.email-nav-nano.hidden-xs.hidden-sm.has-scrollbar(style="margin-top:45px")
        .email-nav-nano-content(tabindex='0', style="overflow-y:hidden")
          a.btn.btn-success.email-compose-btn(href='{url}?page=xepan_communication_composeemail{/}')
            i.fa.fa-pencil-square-o
            |  Compose email
          .col-lg-12(id="{$_name}")
          {$email_navigation}
          {$email_labels}
        .nano-pane(style='display: none;')
          .nano-slider(style='transform: translate(0px, 0px);')
      #email-content.email-content-nano.has-scrollbar(style='')
        {$email_lister}
      