#email-box.clearfix
  .row
    {$email_header}
  .row
    .col-lg-12
      #email-navigation.email-nav-nano.hidden-xs.hidden-sm.has-scrollbar(style=" ")
        .email-nav-nano-content(tabindex='0', style="overflow-y:hidden")
          a.btn.btn-success.email-compose-btn(href='{url}?page=xepan_communication_composeemail{/}')
            i.fa.fa-pencil-square-o
            |  Compose email
          {$email_navigation}
          {$email_labels}
        .nano-pane(style='display: none;')
          .nano-slider(style='transform: translate(0px, 0px);')
      #email-content.email-content-nano.has-scrollbar(style='')
        {$email_lister}
      