#email-box.clearfix
  #email-header-mobile.visible-xs.visible-sm.clearfix
      #email-header-title-mobile.pull-left
        i.fa.fa-inbox
        |  Inbox
      a.user-link()
        a.btn.btn-success.email-compose-btn.pull-right(href='{url}?page=xepan_communication_composeemail{/}')
          i.fa.fa-pencil-square-o
          |  Compose email
    header#email-header.clearfix
      #email-header-title.visible-md.visible-lg
        i.fa.fa-inbox
        |  Inbox  
  .row
    .col-lg-12
      .compose-email-view-popup(style="display:none")
          {$compose_view}
      #email-navigation.email-nav-nano.has-scrollbar(style="margin-top:45px")
        .email-nav-nano-content(tabindex='0', style="overflow-y:hidden")
          a.btn.btn-success.email-compose-btn.hidden-xs.hidden-sm
            i.fa.fa-pencil-square-o
            |  Compose email
          .col-lg-12(id="{$_name}")
          div.mobile-email-navigation-tool.mobile-email-navigation-tool-closed
            a.mobile-email-navigation-tool-cog.hidden-md.hidden-lg
              i.fa.fa-filter.fa-2x
            div.mobile-email-navigation-tool-options  
              {$email_navigation}
              {$email_labels}
        .nano-pane(style='display: none;')
          .nano-slider(style='transform: translate(0px, 0px);')
      #email-content.email-content-nano.has-scrollbar(style='')
        {$email_lister}
        div.email-detail(style="display:none")
          {$email_detail}
script.
    $(".mobile-email-navigation-tool-cog").click(function(){
        $(this).parent('div.mobile-email-navigation-tool').toggleClass("mobile-email-navigation-tool-closed");
    });
    $('.mobile-email-navigation-tool-options li a').click(function(){
        $('.mobile-email-navigation-tool').toggleClass("mobile-email-navigation-tool-closed");
    });
    $(document).ready(function() {
        $('#page-wrapper').addClass('nav-small');
      });      
style.
  #email-box{
    margin-bottom:20px!important;
  }