
<div id="email-box" class="clearfix">
  <div class="row">{$email_header}</div>
  <div class="row">
    <div class="col-lg-12">
      <div id="email-navigation" style=" " class="email-nav-nano hidden-xs hidden-sm has-scrollbar">
        <div tabindex="0" style="overflow-y:hidden" class="email-nav-nano-content"><a href="{url}?page=xepan_communication_composeemail{/}" class="btn btn-success email-compose-btn"><i class="fa fa-pencil-square-o"></i> Compose email</a>{$email_navigation}
          {$email_labels}
        </div>
        <div style="display: none;" class="nano-pane">
          <div style="height: 551px; transform: translate(0px, 0px);" class="nano-slider"></div>
        </div>
      </div>
      <div id="email-content" style="height: 564px;" class="email-content-nano has-scrollbar">{$email_lister}</div>
    </div>
  </div>
</div>