.main-box.clearfix
      .tabs-wrapper.profile-tabs
        ul.nav.nav-tabs
          //- li.active
          //-   a(data-toggle='tab', href='#tab-user') User Managment 
          li.active
            a(data-toggle='tab', href='#tab-general_setting') Emails Setting
          li
            a(data-toggle='tab', href='#sms_setting') SMS Setting
          li
            a(data-toggle='tab', href='#misc') Misc Setting
        .tab-content
          #tab-general_setting.tab-pane.fade.in.active
            {general_setting}Please Save Basic Information First{/}
           #sms_setting.tab-pane.fade
            {$sms_setting}
           #misc.tab-pane.fade
            {$misc_view}
