
<div class="main-box clearfix">
  <div class="tabs-wrapper profile-tabs">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#tab-general_setting">Emails Setting</a></li>
      <li><a data-toggle="tab" href="#sms_setting">SMS Setting</a></li>
      <li><a data-toggle="tab" href="#misc">Misc Setting</a></li>
      <li><a data-toggle="tab" href="#adminuser">Admin</a></li>
      <li><a data-toggle="tab" href="#usertool_setting">UserTool</a></li>
      <li><a data-toggle="tab" href="#registration">Registration Mail</a></li>
      <li><a data-toggle="tab" href="#reset-password">Reset Password Mail</a></li>
      <li><a data-toggle="tab" href="#verification">After Verification Mail</a></li>
      <li><a data-toggle="tab" href="#update-password">Update Password Mail</a></li>
    </ul>
    <div class="tab-content">
      <div id="tab-general_setting" class="tab-pane fade in active">{general_setting}Please Save Basic Information First{/}</div>
      <div id="sms_setting" class="tab-pane fade">{$sms_setting}</div>
      <div id="misc" class="tab-pane fade">{$misc_view}</div>
      <div id="adminuser" class="tab-pane fade">{$admin_user_setting}
        <div id="reset-password" class="tab-pane fade">{$reset_email}</div>
        <div id="update-password" class="tab-pane fade">{$updatepassword_view}</div>
      </div>
      <div id="usertool_setting" class="tab-pane fade">{$tool_user_setting}</div>
      <div id="registration" class="tab-pane fade">{$registration_view}</div>
      <div id="verification" class="tab-pane fade">{$verification_view}</div>
    </div>
  </div>
</div>