#email-box.clearfix
  #email-header-mobile.visible-xs.visible-sm.clearfix
      #email-header-title-mobile.pull-left
        //- i.fa.fa-inbox
        //- |  Inbox
      a.user-link()
        //- a.btn.btn-success.email-compose-btn.pull-right(href='{url}?page=xepan_communication_composeemail{/}')
        a.btn.btn-success.email-compose-btn.pull-right
          i.fa.fa-pencil-square-o
          |  Compose Message
    header#email-header.clearfix
      #email-header-title.visible-md.visible-lg
        //- i.fa.fa-inbox
        //- |  Inbox  
  .row
    .col-lg-12
      #email-navigation.email-nav-nano.has-scrollbar()
        .email-nav-nano-content(tabindex='0', style="overflow-y:hidden")
          a.btn.btn-success.email-compose-btn.hidden-xs.hidden-sm
            i.fa.fa-pencil-square-o
            |  Compose Message
          //- .col-lg-12(id="{$_name}")
          div.mobile-email-navigation-tool.mobile-email-navigation-tool-closed
            a.mobile-email-navigation-tool-cog.hidden-md.hidden-lg
              i.fa.fa-filter.fa-2x
            div.mobile-email-navigation-tool-options  
              {message_navigation}Message Navigation{/}
              //- {$email_labels}
        .nano-pane(style='display: none;')
          .nano-slider(style='transform: translate(0px, 0px);')
      #email-content.email-content-nano.has-scrollbar(style='height: 639px')
        .compose-message-view-popup(style="display:nones")
          {$message_compose_view}
        {message_lister}Message Lister{/}
        //- div.email-detail(style="display:none")
        //-   {$message_detail}
script.
    $(document).ready(function() {
        $('#page-wrapper').addClass('nav-small');

        //-   $('.email-compose-btn').click(function() {
        //-     $('.compose-message-view-popup').slideToggle();    
        //- });

        $('.email-compose-btn').click(function() {
          if($('.compose-message-view-popup').hasClass('slide-up')) {
            $('.compose-message-view-popup').addClass('slide-down', 1000, 'easeOutBounce');
            $('.compose-message-view-popup').removeClass('slide-up'); 
          } else {
            $('.compose-message-view-popup').removeClass('slide-down');
            $('.compose-message-view-popup').addClass('slide-up', 1000, 'easeOutBounce'); 
          }
      });

      });      

style.
  #email-box{
    margin-bottom:20px!important;
  }
  .compose-message-view-popup h2 {
    font-size:18px;

  }
  .compose-message-view-popup .files-container div {
    float:left;
    width:20%;
  }
  .compose-message-view-popup {
    border-top: 2px solid #999999;
    position:fixed;
    width: 76%;
    z-index: 100;
    height: 500px;
    font-size:14px;
    color: #000;
    background: #FFF;
    display: flex;
    justify-content: center; /* align horizontal */
    border-top-left-radius:25px;
    border-top-right-radius:25px;
    right: 2%;
    left: 0;
    margin-left: auto;
    bottom: -500px;
    overflow-y:scroll;
  }

  .slide-up{
      bottom: 0px !important;
  }

  .slide-down{
      bottom: -500px !important;
  }
  .select2{
    width:100%!important;
  }

  .unread{
    font-weight:700!important;
  }
  .msg-attachment li{
    width:10%;
    float:left;
  }
  .msg-attachment embed{
    width:60px;
    height:50px;
  }
  .conversation-wrapper .conversation-body > .time{
    right:50px!important;
  }