<div class="row epan-internalchat">
  <div class="col-md-3">
    <div class="frame">
      <div class="sidepanel">
        <div id="search">
          <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
          <input type="text" placeholder="Search contacts..." />
        </div>
        <div id="contacts">
          <ul>
            <li class="contact">
              <div class="wrap">
                <span class="contact-status online"></span>
                <img src="http://emilcarlsson.se/assets/louislitt.png" alt="" />
                <div class="meta">
                  <p class="name">Louis Litt</p>
                </div>
              </div>
            </li>
            <li class="contact active">
              <div class="wrap">
                <span class="contact-status busy"></span>
                <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                <div class="meta">
                  <p class="name">Harvey Specter</p>
                </div>
              </div>
            </li>
            <li class="contact">
              <div class="wrap">
                <span class="contact-status away"></span>
                <img src="http://emilcarlsson.se/assets/rachelzane.png" alt="" />
                <div class="meta">
                  <p class="name">Rachel Zane</p>
                </div>
              </div>
            </li>
            <li class="contact">
              <div class="wrap">
                <span class="contact-status online"></span>
                <img src="http://emilcarlsson.se/assets/donnapaulsen.png" alt="" />
                <div class="meta">
                  <p class="name">Donna Paulsen</p>
                </div>
              </div>
            </li>
            <li class="contact">
              <div class="wrap">
                <span class="contact-status busy"></span>
                <img src="http://emilcarlsson.se/assets/jessicapearson.png" alt="" />
                <div class="meta">
                  <p class="name">Jessica Pearson</p>
                </div>
              </div>
            </li>
            <li class="contact">
              <div class="wrap">
                <span class="contact-status"></span>
                <img src="http://emilcarlsson.se/assets/haroldgunderson.png" alt="" />
                <div class="meta">
                  <p class="name">Harold Gunderson</p>
                </div>
              </div>
            </li>
            <li class="contact">
              <div class="wrap">
                <span class="contact-status"></span>
                <img src="http://emilcarlsson.se/assets/danielhardman.png" alt="" />
                <div class="meta">
                  <p class="name">Daniel Hardman</p>
                </div>
              </div>
            </li>
            <li class="contact">
              <div class="wrap">
                <span class="contact-status busy"></span>
                <img src="http://emilcarlsson.se/assets/katrinabennett.png" alt="" />
                <div class="meta">
                  <p class="name">Katrina Bennett</p>
                </div>
              </div>
            </li>
            <li class="contact">
              <div class="wrap">
                <span class="contact-status"></span>
                <img src="http://emilcarlsson.se/assets/charlesforstman.png" alt="" />
                <div class="meta">
                  <p class="name">Charles Forstman</p>
                </div>
              </div>
            </li>
            <li class="contact">
              <div class="wrap">
                <span class="contact-status"></span>
                <img src="http://emilcarlsson.se/assets/jonathansidwell.png" alt="" />
                <div class="meta">
                  <p class="name">Jonathan Sidwell</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="frame">
      <div class="content">
        <div class="contact-profile">
          <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
          <p>Harvey Specter</p>
          
        </div>
        <div class="messages">
            <ul>

                <li class="sent">
                  <div class="message-wrapper">
                    <img src="http://emilcarlsson.se/assets/mikeross.png" alt="" style="" />
                    <div class="message-content">
                      <div>Title</div>
                      What are you talking about?<br><div style="border-top: 1px solid gray;"></div>
                      cc : gowravvishwakarma, rakesh, sonu<br>
                      BCC : sonu, monika
                    </div>
                  </div>
                  <div class="message-otherinfo-wrapper">
                    <div class="chat-otherinfo">
                     Aug,2,18<br>
                     <div class="chat-action-wrapper">
                        <i class="fa fa-pencil-square-o"></i>
                        <i class="fa fa-pencil-square-o"></i>
                     </div>
                    </div>
                  </div>
                </li>
                <li class="replies">
                   <div class="message-wrapper">
                    <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" style="" />
                    <div class="message-content">
                      <div>Title</div>
                      How the hell am I supposed to get a jury to believe you when I am not even sure that I do?!<br>
                      cc : gowravvishwakarma, rakesh, sonu<br>
                      BCC : sonu, monika
                      </div>
                    </div>
                    <div class="message-otherinfo-wrapper">
                      <div class="chat-otherinfo">
                        Aug,2,18 <br>
                        <i class="fa fa-pencil-square-o"></i>
                        <i class="fa fa-pencil-square-o"></i>
                      </div>
                    </div>
                </li>
                <li class="replies">
                   <div class="message-wrapper">
                    <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" style="" />
                    <div class="message-content">
                      <div>Title</div>
                      How the hell am I supposed to get a jury to believe you when I am not even sure that I do?!<br>
                      cc : gowravvishwakarma, rakesh, sonu<br>
                      BCC : sonu, monika
                      </div>
                    </div>
                    <div class="message-otherinfo-wrapper">
                      <div class="chat-otherinfo">
                        &nbsp; Aug,2,18 <br>
                        &nbsp; <i class="fa fa-pencil-square-o"></i>&nbsp;
                        &nbsp; <i class="fa fa-pencil-square-o"></i>&nbsp;
                      </div>
                    </div>
                </li>

                <li class="sent">
                  <div class="message-wrapper">
                    <img src="http://emilcarlsson.se/assets/mikeross.png" alt="" style="" />
                    <div class="message-content">
                      <div>Title</div>
                      What are you talking about? You do what they say or they shoot you.<br>
                      cc : gowravvishwakarma, rakesh, sonu<br>
                      BCC : sonu, monika
                    </div>
                  </div>
                  <div class="message-otherinfo-wrapper">
                    <div class="chat-otherinfo">
                      &nbsp; Aug,2,18<br>&nbsp;
                      &nbsp; <i class="fa fa-pencil-square-o"></i>
                      &nbsp; <i class="fa fa-pencil-square-o"></i>
                    </div>
                  </div>
                </li>
                <li class="sent">
                  <div class="message-wrapper">
                    <img src="http://emilcarlsson.se/assets/mikeross.png" alt="" style="" />
                    <div class="message-content">
                      <div>Title</div>
                      What are you talking about? You do what they say or they shoot you.<br>
                      cc : gowravvishwakarma, rakesh, sonu<br>
                      BCC : sonu, monika
                    </div>
                  </div>
                  <div class="message-otherinfo-wrapper">
                    <div class="chat-otherinfo">
                      &nbsp; Aug,2,18<br>&nbsp;
                      &nbsp; <i class="fa fa-pencil-square-o"></i>
                      &nbsp; <i class="fa fa-pencil-square-o"></i>
                    </div>
                  </div>
                </li>
                 <li class="replies">
                   <div class="message-wrapper">
                    <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" style="" />
                    <div class="message-content">
                      <div>Title</div>
                      No, I told him that.<br>
                      cc : gowravvishwakarma, rakesh, sonu<br>
                      BCC : sonu, monika
                      </div>
                    </div>
                    <div class="message-otherinfo-wrapper">
                      <div class="chat-otherinfo">
                        &nbsp; Aug,2,18 <br>
                        &nbsp; <i class="fa fa-pencil-square-o"></i>&nbsp;
                        &nbsp; <i class="fa fa-pencil-square-o"></i>&nbsp;
                      </div>
                    </div>
                </li>
                <li class="replies">
                   <div class="message-wrapper">
                    <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" style="" />
                    <div class="message-content">
                      <div>Title</div>
                      What are your choices when someone puts a gun to your head?<br>
                      cc : gowravvishwakarma, rakesh, sonu<br>
                      BCC : sonu, monika
                      </div>
                    </div>
                    <div class="message-otherinfo-wrapper">
                      <div class="chat-otherinfo">
                        &nbsp; Aug,2,18 <br> 
                        &nbsp; <i class="fa fa-pencil-square-o"></i>&nbsp;
                        &nbsp; <i class="fa fa-pencil-square-o"></i>&nbsp;
                      </div>
                    </div>
                </li>
                <li class="sent">
                  <div class="message-wrapper">
                    <img src="http://emilcarlsson.se/assets/mikeross.png" alt="" style="" />
                    <div class="message-content">
                      <div>Title</div>
                      What are your choices when someone puts a gun to your head?<br>
                      cc : gowravvishwakarma, rakesh, sonu<br>
                      BCC : sonu, monika
                    </div>
                  </div>
                  <div class="message-otherinfo-wrapper">
                    <div class="chat-otherinfo">
                      &nbsp; Aug,2,18<br> &nbsp;
                      &nbsp; <i class="fa fa-pencil-square-o"></i>
                      &nbsp; <i class="fa fa-pencil-square-o"></i>
                    </div>
                  </div>
                </li>
                <li class="replies">
                   <div class="message-wrapper">
                    <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" style="" />
                    <div class="message-content">
                      <div>Title</div>
                      Wrong. You take the gun, or you pull out a bigger one. Or, you call their bluff. Or, you do any one of a hundred and forty six other things.<br>
                      cc : gowravvishwakarma, rakesh, sonu<br>
                      BCC : sonu, monika
                      </div>
                    </div>
                    <div class="message-otherinfo-wrapper">
                      <div class="chat-otherinfo">
                        &nbsp; Aug,2,18 <br> 
                        &nbsp; <i class="fa fa-pencil-square-o"></i>&nbsp;
                        &nbsp; <i class="fa fa-pencil-square-o"></i>&nbsp;
                      </div>
                    </div>
                </li>
            </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="frame" >
      <div class="form">
        <form>
            <label for="exampleInpTo">To:</label>
              <input type="text" placeholder="Enter recepients" value="mila@kunis.com,ryan@gosling.com"/>
              <br>
            <label for="exampleInpCc">CC:</label>
              <input type="text" placeholder="Enter recepients" value="angelina@jolie.com"/>
            <br>
            <label for="exampleInpCc">Subject:</label>
              <input type="text" placeholder="Enter recepients" value=""/>
            <br>
            <label for="exampleInpCc">Message:</label>
              <textarea type="text" placeholder="Enter recepients" ></textarea>
            <br>
            <label for="exampleInpCc">Attachments:</label>
              <input type="file" name="pic" accept="image/*">
            <br>
            <button class="btn btn-success pull-right" style="margin-right: 10px;">Send Message</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Inline CSS -->

<style class="cp-pen-styles">
.epan-internalchat .col-md-3,.epan-internalchat .col-md-5,.epan-internalchat .col-md-4{
  padding: 0px;
  margin: 0px;
}

.frame {
  width: 100%;
  height: 92vh;
  min-height: 300px;
  max-height: 720px;
  background: #E6EAEA;
}

.frame .sidepanel {
  float: left;
  width: 100%;
  height: 100%;
  background: #2c3e50;
  color: #f5f5f5;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 735px) {
  .frame .sidepanel {
    width: 58px;
    min-width: 58px;
  }
}

.frame .sidepanel #search {
  border-top: 1px solid #32465a;
  border-bottom: 1px solid #32465a;
  font-weight: 300;
}
@media screen and (max-width: 735px) {
  .frame .sidepanel #search {
    display: none;
  }
}
.frame .sidepanel #search label {
  position: absolute;
  margin: 10px 0 0 20px;
}
.frame .sidepanel #search input {
  font-family: "proxima-nova",  "Source Sans Pro", sans-serif;
  padding: 10px 0 10px 46px;
  width: calc(100% - 25px);
  border: none;
  background: #32465a;
  color: #f5f5f5;
}
.frame .sidepanel #search input:focus {
  outline: none;
  background: #435f7a;
}
.frame .sidepanel #search input::-webkit-input-placeholder {
  color: #f5f5f5;
}
.frame .sidepanel #search input::-moz-placeholder {
  color: #f5f5f5;
}
.frame .sidepanel #search input:-ms-input-placeholder {
  color: #f5f5f5;
}
.frame .sidepanel #search input:-moz-placeholder {
  color: #f5f5f5;
}
.frame .sidepanel #contacts {
  height: calc(100% - 90px);
  overflow-y: scroll;
  overflow-x: hidden;
}
@media screen and (max-width: 735px) {
  .frame .sidepanel #contacts {
    height: calc(100% - 149px);
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .frame .sidepanel #contacts::-webkit-scrollbar {
    display: none;
  }
}
.frame .sidepanel #contacts.expanded {
  height: calc(100% - 334px);
}
.frame .sidepanel #contacts::-webkit-scrollbar {
  width: 8px;
  background: #2c3e50;
}
.frame .sidepanel #contacts::-webkit-scrollbar-thumb {
  background-color: #243140;
}
.frame .sidepanel #contacts ul li.contact {
  position: relative;
  padding: 10px 0 15px 0;
  font-size: 0.9em;
  cursor: pointer;
}
@media screen and (max-width: 735px) {
  .frame .sidepanel #contacts ul li.contact {
    padding: 6px 0 46px 8px;
  }
}
.frame .sidepanel #contacts ul li.contact:hover {
  background: #32465a;
}
.frame .sidepanel #contacts ul li.contact.active {
  background: #32465a;
  border-right: 5px solid #435f7a;
}
.frame .sidepanel #contacts ul li.contact.active span.contact-status {
  border: 2px solid #32465a !important;
}
.frame .sidepanel #contacts ul li.contact .wrap {
  width: 88%;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 735px) {
  .frame .sidepanel #contacts ul li.contact .wrap {
    width: 100%;
  }
}
.frame .sidepanel #contacts ul li.contact .wrap span {
  position: absolute;
  left: 0;
  margin: -2px 0 0 -2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #2c3e50;
  background: #95a5a6;
}
.frame .sidepanel #contacts ul li.contact .wrap span.online {
  background: #2ecc71;
}
.frame .sidepanel #contacts ul li.contact .wrap span.away {
  background: #f1c40f;
}
.frame .sidepanel #contacts ul li.contact .wrap span.busy {
  background: #e74c3c;
}
.frame .sidepanel #contacts ul li.contact .wrap img {
  width: 40px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}
@media screen and (max-width: 735px) {
  .frame .sidepanel #contacts ul li.contact .wrap img {
    margin-right: 0px;
  }
}
.frame .sidepanel #contacts ul li.contact .wrap .meta {
  padding: 5px 0 0 0;
}
@media screen and (max-width: 735px) {
  .frame .sidepanel #contacts ul li.contact .wrap .meta {
    display: none;
  }
}
.frame .sidepanel #contacts ul li.contact .wrap .meta .name {
  font-weight: 600;
}
.frame .sidepanel #contacts ul li.contact .wrap .meta .preview {
  margin: 5px 0 0 0;
  padding: 0 0 1px;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -moz-transition: 1s all ease;
  -o-transition: 1s all ease;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}
.frame .sidepanel #contacts ul li.contact .wrap .meta .preview span {
  position: initial;
  border-radius: initial;
  background: none;
  border: none;
  padding: 0 2px 0 0;
  margin: 0 0 0 1px;
  opacity: .5;
}
.frame .sidepanel #bottom-bar {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.frame .content {
  /*float: right;*/
  width: 100% !important;
  height: 100%;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 735px) {
  .frame .content {
    width: calc(100%);
    min-width: 300px !important;
  }
}
@media screen and (min-width: 900px) {
  .frame .content {
    width: calc(100% - 340px);
  }
}
.frame .content .contact-profile {
  width: 98%;
  height: 60px;
  line-height: 60px;
  color: white;
  background: #32465a;
  border-bottom: 5px solid #435f7a;
}
.frame .content .contact-profile img {
  width: 40px;
  border-radius: 50%;
  float: left;
  margin: 9px 12px 0 9px;
}
.frame .content .contact-profile p {
  float: left;
}
.frame .content .contact-profile .social-media {
  float: right;
}
.frame .content .contact-profile .social-media i {
  margin-left: 14px;
  cursor: pointer;
}
.frame .content .contact-profile .social-media i:nth-last-child(1) {
  margin-right: 20px;
}
.frame .content .contact-profile .social-media i:hover {
  color: #435f7a;
}
.frame .content .messages {
  height: auto;
  min-height: calc(100% - 93px);
  max-height: calc(100% - 93px);
  overflow-y: scroll;
  overflow-x: hidden;
  width: 98%;
}
@media screen and (max-width: 735px) {
  .frame .content .messages {
    max-height: calc(100% - 105px);
  }
}
.frame .content .messages::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
.frame .content .messages::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}
.frame .content .messages ul li {
  display: inline-block;
  clear: both;
  float: left;
  margin: 15px 15px 5px 15px;
  width: calc(97%);
  font-size: 0.9em;
}
.frame .content .messages ul li:nth-last-child(1) {
  margin-bottom: 20px;
}
.frame .content .messages ul li.sent img {
  margin: 6px 8px 0 0;
  /*position: sticky;*/
}

.frame .content .messages ul li.sent .message-content {
  background: #435f7a;
  color: #f5f5f5;
  max-width: 90%;
}

.frame .content .messages ul li.sent .message-wrapper {
  max-width: 80%;
  width: auto;
}

.frame .content .messages ul li.sent .chat-otherinfo{
  margin-left: 5px;
}

.frame .content .messages ul li.replies .message-wrapper {
  max-width: 80%;
  width: auto;
  float: right;
}

.frame .content .messages ul li.replies img {
  float: right;
  margin: 6px 0 0 8px;
}
.frame .content .messages ul li.replies .message-content {
  background: #f5f5f5;
  float: left;
  max-width: 90%;
}
.frame .content .messages ul li.replies .chat-otherinfo{
  float:left;
  margin-right: 5px;
}
.frame .content .messages ul li img {
  width: 22px;
  border-radius: 50%;
  float: left;
}

li.sent > div{
  float: left;
}

li.replies > div{
  float: right;
}

.frame .content .messages ul li .message-content {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 20px;
  /*max-width: 205px;*/
  line-height: 130%;
}

@media screen and (min-width: 735px) {
  .frame .content .messages ul li .message-content {
    max-width: 90%;
  }
  .frame .content .messages ul li .message-wrapper {
    max-width: 80%;
  }
}

.frame #form {
  float: right;
}

.chat-action-wrapper{
  display: none;
}
 .messages > ul > li:hover .chat-action-wrapper{
  display: block;
 }

.frame .contact-profile{
  back
}

</style>