
<div class="main-box clearfix">
  <div class="tabs-wrapper profile-tabs">
    <ul class="nav nav-tabs responsive-tabs">
      <li class="active"><a data-toggle="tab" href="#frontend_user_config">Frontend User Configuration</a></li>
      <li><a data-toggle="tab" href="#registration">Registration Mail/ SMS Content</a></li>
      <li><a data-toggle="tab" href="#reset-password">Reset Password Mail/ SMS Content</a></li>
      <li><a data-toggle="tab" href="#verification">After Verification Mail/ SMS Content</a></li>
      <li><a data-toggle="tab" href="#update-password">Update Password Mail/ SMS Content</a></li>
      <li><a data-toggle="tab" href="#subscription">Subscription Mail  </a></li>
    </ul>
    <div class="tab-content">
      <div id="frontend_user_config" class="tab-pane active">
        {Content}
        {$frontend_user_config}
        {/}
      </div>
      <div id="registration" class="tab-pane">
        {Content}
        {$registration_view}
        {/}
      </div>
      <div id="reset-password" class="tab-pane">
        {Content}
        {$reset_email}
        {/}
      </div>
      <div id="verification" class="tab-pane">
        {Content}
        {$verification_view}
        {/}
      </div>
      <div id="update-password" class="tab-pane">
        {Content}
        {$updatepassword_view}
        {/}
      </div>
      <div id="subscription" class="tab-pane">
        {Content}
        {$subscription_view}
        {/}
      </div>
    </div>
  </div>
</div>