.main-box.clearfix
      .tabs-wrapper.profile-tabs
        ul.nav.nav-tabs.responsive-tabs
          li.active
            a(data-toggle='tab', href='#frontend_user_config')|Frontend User Configuration
          li
            a(data-toggle='tab', href='#registration')|Registration Mail
          li
            a(data-toggle='tab', href='#reset-password')|Reset Password Mail
          li
            a(data-toggle='tab', href='#verification')|After Verification Mail
          li
            a(data-toggle='tab', href='#update-password')|Update Password Mail
          li
            a(data-toggle='tab', href='#subscription')|Subscription Mail  
        .tab-content
          #frontend_user_config.tab-pane.active
            {Content}
            {$frontend_user_config}
            {/}
          #registration.tab-pane
            {Content}
            {$registration_view}
            {/}
          #reset-password.tab-pane
            {Content}
            {$reset_email}
            {/}
          #verification.tab-pane
            {Content}
            {$verification_view}
            {/}
          #update-password.tab-pane
            {Content}
            {$updatepassword_view}
            {/}
          #subscription.tab-pane
            {Content}
            {$subscription_view}
            {/}
  
