.xepan-grid.main-box.clearfix(id="{$_name}" class="{$class}")
    {Pannel}
    header.main-box-header.clearfix.atk-actions(class=" {$class} ")
        div.filter-block
            .pull-right {$grid_buttons} 
            .form-group.pull-right.xepan-filter-form
                div(class="form-control pull-left")|{$quick_search}
                    i(class="fa fa-search search-icon")
    {/Pannel}
    .main-box-body.clearfix
        .row
            {header}{cols}{col}{/}{/}{/}
            {rows}{row}
            div(class="{$odd_even} col-md-{col-width}4{/}" data-id="{$id}")
                {cols}
                .main-box.small-graph-box.emerald-bg
                  span.value(style="font-size:1em!important;") 
                    a(href="?page=xepan_communication_general_email&emailsetting_id={$id}")
                      .small-graph-box{name}69.600{/}  
                        br
                        |     ( {$email_username})
                  //- span.headline Visits
                  .progress
                    .progress-bar(role='progressbar', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100', style='width: 100%;')
                      span.sr-only 84% Complete
                  span.subinfo
                    i.fa.fa-arrow-circle-o-down
                    |  Support Email : 
                    .pull-right{$is_support_email}
                  span.subinfo
                    i.fa.fa-globe
                    |  Auto Reply : 
                    .pull-right{$auto_reply}
                  span.subinfo
                    i.fa.fa-clock-o
                    |  Last Email : 
                    .pull-right{last_emailed_at} September 21,2013 12:45{/}
                  span.subinfo
                    i.fa.fa-arrow-circle-o-down
                    |  Is Active : 
                    .pull-right.checkbox-nice{$is_active}
                  span.subinfo
                    i.fa.fa-clock-o
                    |  Is Mass Mailing : 
                    .pull-right.checkbox-nice{$mass_mail}
                  .pull-right{$edit}{$delete}    
                  span.subinfo
                    {$action}
                  span.subinfo
                hr
            {/}
            {/}{/}
            {not_found}
            div.row
                .col-md-12.text-center.alert.alert-warning(role="alert")
                    span.icon-attention.fa.fa-exclamation-triangle  &nbsp;{$not_found_message}
            {/}

            {totals}{cols}{col}{$content}{/}{/}{/}
        {$Paginator}

style.
  .small-graph-box{
    padding:5px!important;
  }        
