.main-box.clearfix.wizard(id="email_setting_wizard")
	.wizard-inner( style="padding:1em")
		ul.steps
			li.active(data-target="#step1")
				span
					.badge.badge-primary 1 
					lable.hidden-xs.hidden-sm| Basic Connection
					span.chevron
			li(data-target="#step2")
				span
					.badge.badge-primary 2 
					lable.hidden-xs.hidden-sm| From and Reply
					span.chevron
			li(data-target="#step3")
				span
					.badge.badge-primary 3
					lable.hidden-xs.hidden-sm| IMAP/POP3
					span.chevron
			li(data-target="#step4")
				span
					.badge.badge-primary 4
					lable.hidden-xs.hidden-sm| Thresholds
					span.chevron
			li(data-target="#step5")
				span
					.badge.badge-primary 5
					lable.hidden-xs.hidden-sm| Managing Bounce Emails
					span.chevron
			li(data-target="#step6")
				span
					.badge.badge-primary 6
					lable.hidden-xs.hidden-sm| Auto Reply Mail Content
					span.chevron
		.actions
			button.btn.btn-default.btn-mini.btn-prev(type="button")
				i.icon-arrow-left Prev
			button.btn.btn-success.btn-mini.btn-next(type="button" data-last="Save") Next
				i.icon-arrow-right
		.step-content
			.step-pane.active(id="step1")
				.row.xepan-push(style="margin:auto!important")
					.col-lg-12  
						h3 Email Transport:
						.row
							.col-lg-12  
								.col-lg-3.xepan-push
									strong Email Transport:
									div {$email_transport}
								.col-lg-3.xepan-push
									strong Name:
									div {$name}
								.col-lg-3
									.row
									.xepan-push
									cite {$is_support_email}
								.col-lg-3
									.row
									.xepan-push
									cite {$is_active}

				.row.xepan-push(style="margin:auto!important")
					.col-lg-12  
						h3 Connection Settings:
						.row
							.col-lg-12
								.row
									.col-lg-2
										strong Encryption:
										div {$encryption}
									.col-lg-2
										strong Email Host:
										div {$email_host}
									.col-lg-2 
										strong Email Port:
										div {$email_port}
									.col-lg-3 
										strong Email User Name:
										div {$email_username}
									.col-lg-3 
										strong Email Password:
										div {$email_password}
			.step-pane(id="step2")
				.row.xepan-push(style="margin:auto!important")
					.col-lg-12  
						h3 Email From : Sender Setting:
						.row
							.col-lg-12
								.row
									.col-lg-3
										strong From Email:
										div {$from_email}
									.col-lg-3 
										strong From Name:
										div {$from_name}
									.col-lg-3  
										strong Sender Email:
										div {$sender_email}
									.col-lg-3 
										strong Sender Name:
										div {$sender_name}
				.row.xepan-push(style="margin:auto!important")
					.col-lg-12  
						h3 Email Reply To Setting:
						.row
							.col-lg-12
								.row
									.col-lg-4
										label
										strong Email Reply To:
										div {$email_reply_to} 
									.col-lg-4 
										label
										strong Email Reply To Name:
										div {$email_reply_to_name}
			.step-pane(id="step3")
				.row.xepan-push(style="margin:auto!important")
					.col-lg-12  
						h3 IMAP / POP3  Setting:
						.row
							.col-lg-12
								.row.xepan-push-small
									.col-lg-3
										label
										strong Email Host:
										div {$imap_email_host}
									.col-lg-3
										label
										strong Email Port:
										div {$imap_email_port}
									.col-lg-3 
										label
										strong Flags:
										div {$imap_flags}
									.col-lg-3 
										label
										strong Is Imap Enabled:
										div {$is_imap_enabled}
								.row
									.col-lg-3
										label
										strong Email User Name:
										div {$imap_email_username}
									.col-lg-3
										label
										strong Email Password:
										div {$imap_email_password}

			.step-pane(id="step4")
				.row.xepan-push(style="margin:auto!important")
					.col-lg-12  
						h3 Email Throtelling Settings:
						.row
							.col-lg-12.atk-push
								.row
									.col-lg-2
										label
										strong SMTP Auto Re Connect:
										div {$smtp_auto_reconnect}
									.col-lg-3 
										label
										strong Email Threshold (Per Minute):
										div {$email_threshold}
									.col-lg-3
										label
										strong Email Threshold (Per Month):
										div {$email_threshold_per_month}
									.col-lg-2
										label
										strong Email BCC:
										div {$emails_in_BCC}
									.col-lg-2
										.row
										.xepan-push
										cite {$mass_mail}	

			.step-pane(id="step5")
				.row.xepan-push-large(style="margin:auto!important")
					.col-lg-12  
						h3 Return Path / Bounce IMAP Settings:
						.row
							.col-lg-12.atk-push
								.row
									.col-lg-2
										label
										strong Email Host:
										div {$bounce_imap_email_host}
									.col-lg-2 
										label
										strong Email Port:
										div {$bounce_imap_email_port}
									.col-lg-3 
										label
										strong Email User Name:
										div {$return_path}
									.col-lg-3 
										label
										strong Email Password:
										div {$bounce_imap_email_password}
									.col-lg-2 
										label
										strong Flags:
										div {$bounce_imap_flags}
								.row	  
									.col-lg-2
										cite 
									.col-lg-2 
										cite 
									.col-lg-3 
										cite 
									.col-lg-3 
										cite 
									.col-lg-2 
										cite 
			.step-pane(id="step6")
				.row.xepan-push-large(style="margin:auto!important")
					.col-lg-12  
						h3 Auto Reply Mail :
						.row
							.col-lg-12.atk-push
								.row
									.col-lg-6
										strong Auto Reply:
										div {$auto_reply}
									.col-lg-6 
										strong Auto Mail Subject:
										div {$email_subject}
								.row.xepan-push
									.col-lg-12 
										strong Auto mail Body:	
										div {$email_body}
								.row
									.col-lg-12 
										strong Signature:
								.row
									.col-lg-12 
										cite {$signature}		
