
<div id="email_setting_wizard" class="main-box clearfix wizard">
  <div style="padding:1em" class="wizard-inner">
    <ul class="steps">
      <li data-target="#step1" class="active"><span>
          <div class="badge badge-primary">1 </div>
          <lable class="hidden-xs hidden-sm">Basic Connection</lable><span class="chevron"></span></span></li>
      <li data-target="#step2"><span>
          <div class="badge badge-primary">2 </div>
          <lable class="hidden-xs hidden-sm">From and Reply</lable><span class="chevron"></span></span></li>
      <li data-target="#step3"><span>
          <div class="badge badge-primary">3</div>
          <lable class="hidden-xs hidden-sm">IMAP/POP3</lable><span class="chevron"></span></span></li>
      <li data-target="#step4"><span>
          <div class="badge badge-primary">4</div>
          <lable class="hidden-xs hidden-sm">Thresholds</lable><span class="chevron"></span></span></li>
      <li data-target="#step5"><span>
          <div class="badge badge-primary">5</div>
          <lable class="hidden-xs hidden-sm">Managing Bounce Emails</lable><span class="chevron"></span></span></li>
      <li data-target="#step6"><span>
          <div class="badge badge-primary">6</div>
          <lable class="hidden-xs hidden-sm">Auto Reply Mail Content</lable><span class="chevron"></span></span></li>
    </ul>
    <div class="actions">
      <button type="button" class="btn btn-default btn-mini btn-prev"><i class="icon-arrow-left">Prev</i></button>
      <button type="button" data-last="Save" class="btn btn-success btn-mini btn-next">Next<i class="icon-arrow-right"></i></button>
    </div>
    <div class="step-content">
      <div id="step1" class="step-pane active">
        <div style="margin:auto!important" class="row xepan-push">
          <div class="col-lg-12"> 
            <h3>Email Transport:</h3>
            <div class="row">
              <div class="col-lg-12"> 
                <div class="col-lg-3 xepan-push"><strong>Email Transport:</strong>
                  <div>{$email_transport}</div>
                </div>
                <div class="col-lg-3 xepan-push"><strong>Name:</strong>
                  <div>{$name}</div>
                </div>
                <div class="col-lg-3">
                  <div class="row"></div>
                  <div class="xepan-push"></div>
                  <cite>{$is_support_email}</cite>
                </div>
                <div class="col-lg-3">
                  <div class="row"></div>
                  <div class="xepan-push"></div>
                  <cite>{$is_active}</cite>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="margin:auto!important" class="row xepan-push">
          <div class="col-lg-12"> 
            <h3>Connection Settings:</h3>
            <div class="row">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-2"><strong>Encryption:</strong>
                    <div>{$encryption}</div>
                  </div>
                  <div class="col-lg-2"><strong>Email Host:</strong>
                    <div>{$email_host}</div>
                  </div>
                  <div class="col-lg-2"> <strong>Email Port:</strong>
                    <div>{$email_port}</div>
                  </div>
                  <div class="col-lg-3"> <strong>Email User Name:</strong>
                    <div>{$email_username}</div>
                  </div>
                  <div class="col-lg-3"> <strong>Email Password:</strong>
                    <div>{$email_password}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="step2" class="step-pane">
        <div style="margin:auto!important" class="row xepan-push">
          <div class="col-lg-12"> 
            <h3>Email From : Sender Setting:</h3>
            <div class="row">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-3"><strong>From Email:</strong>
                    <div>{$from_email}</div>
                  </div>
                  <div class="col-lg-3"> <strong>From Name:</strong>
                    <div>{$from_name}</div>
                  </div>
                  <div class="col-lg-3"> <strong>Sender Email:</strong>
                    <div>{$sender_email}</div>
                  </div>
                  <div class="col-lg-3"> <strong>Sender Name:</strong>
                    <div>{$sender_name}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div style="margin:auto!important" class="row xepan-push">
          <div class="col-lg-12"> 
            <h3>Email Reply To Setting:</h3>
            <div class="row">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-4">
                    <label></label><strong>Email Reply To:</strong>
                    <div>{$email_reply_to} </div>
                  </div>
                  <div class="col-lg-4"> 
                    <label></label><strong>Email Reply To Name:</strong>
                    <div>{$email_reply_to_name}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="step3" class="step-pane">
        <div style="margin:auto!important" class="row xepan-push">
          <div class="col-lg-12"> 
            <h3>IMAP / POP3  Setting:</h3>
            <div class="row">
              <div class="col-lg-12">
                <div class="row xepan-push-small">
                  <div class="col-lg-3">
                    <label></label><strong>Email Host:</strong>
                    <div>{$imap_email_host}</div>
                  </div>
                  <div class="col-lg-3">
                    <label></label><strong>Email Port:</strong>
                    <div>{$imap_email_port}</div>
                  </div>
                  <div class="col-lg-3"> 
                    <label></label><strong>Flags:</strong>
                    <div>{$imap_flags}</div>
                  </div>
                  <div class="col-lg-3"> 
                    <label></label><strong>Is Imap Enabled:</strong>
                    <div>{$is_imap_enabled}</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3">
                    <label></label><strong>Email User Name:</strong>
                    <div>{$imap_email_username}</div>
                  </div>
                  <div class="col-lg-3">
                    <label></label><strong>Email Password:</strong>
                    <div>{$imap_email_password}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="step4" class="step-pane">
        <div style="margin:auto!important" class="row xepan-push">
          <div class="col-lg-12"> 
            <h3>Email Throtelling Settings:</h3>
            <div class="row">
              <div class="col-lg-12 atk-push">
                <div class="row">
                  <div class="col-lg-2">
                    <label></label><strong>SMTP Auto Re Connect:</strong>
                    <div>{$smtp_auto_reconnect}</div>
                  </div>
                  <div class="col-lg-3"> 
                    <label></label><strong>Email Threshold (Per Minute):</strong>
                    <div>{$email_threshold}</div>
                  </div>
                  <div class="col-lg-3">
                    <label></label><strong>Email Threshold (Per Month):</strong>
                    <div>{$email_threshold_per_month}</div>
                  </div>
                  <div class="col-lg-2">
                    <label></label><strong>Email BCC:</strong>
                    <div>{$emails_in_BCC}</div>
                  </div>
                  <div class="col-lg-2">
                    <div class="row"></div>
                    <div class="xepan-push"></div>
                    <cite>{$mass_mail}	</cite>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="step5" class="step-pane">
        <div style="margin:auto!important" class="row xepan-push-large">
          <div class="col-lg-12"> 
            <h3>Return Path / Bounce IMAP Settings:</h3>
            <div class="row">
              <div class="col-lg-12 atk-push">
                <div class="row">
                  <div class="col-lg-2">
                    <label></label><strong>Email Host:</strong>
                    <div>{$bounce_imap_email_host}</div>
                  </div>
                  <div class="col-lg-2"> 
                    <label></label><strong>Email Port:</strong>
                    <div>{$bounce_imap_email_port}</div>
                  </div>
                  <div class="col-lg-3"> 
                    <label></label><strong>Email User Name:</strong>
                    <div>{$return_path}</div>
                  </div>
                  <div class="col-lg-3"> 
                    <label></label><strong>Email Password:</strong>
                    <div>{$bounce_imap_email_password}</div>
                  </div>
                  <div class="col-lg-2"> 
                    <label></label><strong>Flags:</strong>
                    <div>{$bounce_imap_flags}</div>
                  </div>
                </div>
                <div class="row">	  
                  <div class="col-lg-2">
                    <cite> </cite>
                  </div>
                  <div class="col-lg-2"> 
                    <cite> </cite>
                  </div>
                  <div class="col-lg-3"> 
                    <cite> </cite>
                  </div>
                  <div class="col-lg-3"> 
                    <cite> </cite>
                  </div>
                  <div class="col-lg-2"> 
                    <cite> </cite>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="step6" class="step-pane">
        <div style="margin:auto!important" class="row xepan-push-large">
          <div class="col-lg-12"> 
            <h3>Auto Reply Mail :</h3>
            <div class="row">
              <div class="col-lg-12 atk-push">
                <div class="row">
                  <div class="col-lg-6"><strong>Auto Reply:</strong>
                    <div>{$auto_reply}</div>
                  </div>
                  <div class="col-lg-6"> <strong>Auto Mail Subject:</strong>
                    <div>{$email_subject}</div>
                  </div>
                </div>
                <div class="row xepan-push">
                  <div class="col-lg-12"> <strong>Auto mail Body:	</strong>
                    <div>{$email_body}</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12"> <strong>Signature:</strong></div>
                </div>
                <div class="row">
                  <div class="col-lg-12"> 
                    <cite>{$signature}		</cite>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>