|Dear member,
br
|Thanks for registering, {$email_id}! It’s great to have you in the community.
br
|Before you can take advantage of all the great features your account comes
br
|with, you’ll need to verify your email address. Click the link below to
br
|verify your email and experience the best: 
br
| {$click_here_to_activate}
br
|Greetings
br
br
br 	
br
|powered by epan.in