|{$email_id},
br
|We received a request to reset the password for your account.
br
|Here's a one-time login link for you to use to access your account and set a new password
br
|{$click_here_to_activate} 
br
|This link will expire after a day and nothing will happen if it's not used.
br
|See you!
br
br
br
br
|powered by epan.in	