ul.clearfix
  {rows}{row}
  li
    .img
      a(href='#')
        //- img(alt='', src='{file}img/samples/hdr/small/img_5.jpg{/}')
        embed(style='width:100%;' class="doc-img litebox-image" alt='', src='{file}img/samples/hdr/small/img_5.jpg{/}')
    span.name
      //- {file}| nature.jpg{/}
    a(href='{$file}' download="{$filename}") {$filename}
    {/}
  li
    .img
      a(href='#')
        img(alt='', src='img/samples/hdr/small/img_8.jpg')
    span.name
      | bratislava.jpg
    a(href='#') Download
  li
    .img
      i.fa.fa-file
    span.name
      | invoice.pdf
    a(href='#') Download
{/}{/}

style.
  .clearfix li{
    width:20%;
  }
  .clearfix li .img{
    min-height:87px;
    min-width:130px;
    width:100%!important;
    height:auto!important;
  }