div(id="{$_name}")
  #email-box.email-detail-nano.has-scrollbar(style='margin-left:0px')
          //- .compose-email-view-popup(style="display:none")
          //-   {$compose_view}
          .email-detail-nano-content(tabindex='0', style='right: -13px;')
            #email-detail-inner
              #email-detail-subject.clearfix
                span.subject {subject}FW: Like your new movie{/}
                span.label.label-success {status}Work{/}
              #email-detail-sender.clearfix(style="height:auto;")
                .picture.hidden-xs
                  {avatar}
                  //- img(alt='', src='img/samples/angelina-300.jpg')
                  {/}
                .users(style="width:88%")
                  .from.clearfix
                    .name
                      {communication_with}| Angelina Jolie{/}
                    .email.hidden-xs
                  .to
                    | To:
                    {to_lister}
                    {rows}{row} 
                    span {name} Me{/} ,&nbsp;{email} Brad Pitt{/}&nbsp;&nbsp;
                    {/}{/}
                    {/}
                  .to
                    | Cc:
                    {cc_lister}
                    {rows}{row} 
                    small{name}Me{/},&nbsp;{email} Brad Pitt{/}&nbsp;&nbsp;
                    {/}{/}
                    {/}
                  .to
                    | Bcc: 
                    small {$bcc_name}
                .tools
                  .date
                    | {callback_date}Sep 12 (6 days ago){/}
                  .btns
                    .btn-group
                      button.reply.btn.btn-success(type='button')
                        ul
                          li
                            a(data-id="{$id}")
                              i.fa.fa-mail-reply
                      button.btn.btn-success.dropdown-toggle(type='button', data-toggle='dropdown')
                        span.caret
                      ul.dropdown-menu
                        li.reply
                          a(data-id="{$id}")
                            i.fa.fa-mail-reply
                            |  Reply
                        li.reply-all
                          a(data-id="{$id}")
                            i.fa.fa-mail-reply-all
                            |  Reply all
                        li.forward
                          a(data-id="{$id}")
                            i.fa.fa-mail-forward
                            |  Forward
                        li.print
                          a(data-id="{$id}")
                            i.fa.fa-print
                            |  Print
              #email-body(style="width:100%;overflow:scroll")
                {email_body}
                p
                  | Hey Scarlett,
                p
                  | Well, the way they make shows is, they make one show. That show's called a pilot. Then they
                  | show that show to the people who make shows, and on the strength of that one show they decide
                  | if they're going to make more shows. 
                  a(href='#') Some pilots
                  |  get picked and become television
                  | programs. Some don't, become nothing. She starred in one of the ones that became nothing.
                {/}
              #email-detail-attachments
                #email-attachments-header.clearfix
                  .headline
                    {check_attach}
                    i.fa.fa-paperclip &nbsp;
                    span Attachments : 
                    b {attachment_count}( 3 ){/}
                    {/}
                  .tools
                    //- a.all-Attachment-media(data-id="{$id}") Download all
                #email-attachments-content
                  {$Attachments}
                  //- ul.clearfix
                  //-   {rows}{row}
                  //-   li
                  //-     .img
                  //-       a(href='#')
                  //-         img(alt='', src='{file}img/samples/hdr/small/img_5.jpg{/}')
                  //-     span.name
                  //-       //- {file}| nature.jpg{/}
                  //-     a(href='{$file}' download="{$filename}") {$filename}
                  //-     {/}
                  //-   li
                  //-     .img
                  //-       a(href='#')
                  //-         img(alt='', src='img/samples/hdr/small/img_8.jpg')
                  //-     span.name
                  //-       | bratislava.jpg
                  //-     a(href='#') Download
                  //-   li
                  //-     .img
                  //-       i.fa.fa-file
                  //-     span.name
                  //-       | invoice.pdf
                  //-     a(href='#') Download
                  //- {/}{/}
          //- .nano-pane
          //-   .nano-slider(style='height: 502px; transform: translate(0px, 60px);')
