
<div id="{$_name}" class="col-lg-12">
  <div id="email-header-mobile" class="visible-xs visible-sm clearfix">
    <div id="email-header-title-mobile" class="pull-left"><i class="fa fa-inbox"></i> Inbox</div><a href="{url}?page=xepan_communication_composeemail{/}" class="user-link"><a class="btn btn-success email-compose-btn pull-right"><i class="fa fa-pencil-square-o"></i> Compose email</a></a>
  </div>
  <header id="email-header" class="clearfix">
    <div id="email-header-title" class="visible-md visible-lg"><i class="fa fa-inbox"></i> Inbox</div>
    <div id="email-header-tools">
      <div class="btn-group">
        <button title="" type="button" data-toggle="dropdown" data-original-title="Select" class="btn btn-primary dropdown-toggle has-tooltip"><i class="fa fa-square-o"></i><span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#" class="all-select">All</a></li>
          <li><a href="#" class="select-none">None</a></li>
          <li><a href="#" class="select-read">Read</a></li>
          <li><a href="#" class="select-unread">Unread</a></li>
          <li><a href="#" class="select-starred">Starred</a></li>
          <li><a href="#" class="select-unstarred">Unstarred</a></li>
        </ul>
      </div>
      <div class="btn-group">
        <button data-placement="bottom" data-toggle="tooltip" title="" type="button" data-original-title="Refresh" class="fetch-refresh btn btn-primary"><i class="fa fa-refresh"></i></button>
        <button data-placement="bottom" data-toggle="tooltip" title="" type="button" data-original-title="Spam" class="btn btn-primary"><i class="fa fa-exclamation-circle"></i></button>
        <button data-placement="bottom" data-toggle="tooltip" title="" type="button" data-original-title="Erase" class="do-delete btn btn-primary"><i class="fa fa-trash-o"></i></button>
        <button data-placement="bottom" data-toggle="tooltip" title="" type="button" data-original-title="Mark All As Read" class="mark-allread btn btn-primary"><i class="fa fa-check-square-o"></i></button>
      </div>
    </div>
    <div id="email-header-pagination" class="pull-right">
      <div class="btn-group pagination pull-right">
        <button data-placement="bottom" data-toggle="tooltip" title="" type="button" data-original-title="Previous" class="btn btn-primary"><i class="fa fa-chevron-left"></i></button>
        <button data-placement="bottom" data-toggle="tooltip" title="" type="button" data-original-title="Next" class="btn btn-primary"><i class="fa fa-chevron-right"></i></button>
      </div>
      <div class="num-items pull-right hidden-xs">1-50 from 5,912</div>
    </div>
  </header>
</div>