.col-lg-12(id="{$_name}")
      #email-header-mobile.visible-xs.visible-sm.clearfix
        #email-header-title-mobile.pull-left
          i.fa.fa-inbox
          |  Inbox
        a.user-link(href='{url}?page=xepan_communication_composeemail{/}')
          a.btn.btn-success.email-compose-btn.pull-right()
            i.fa.fa-pencil-square-o
            |  Compose email
      header#email-header.clearfix
        #email-header-title.visible-md.visible-lg
          i.fa.fa-inbox
          |  Inbox
        #email-header-tools
          .btn-group
            button.btn.btn-primary.dropdown-toggle.has-tooltip(title='', type='button', data-toggle='dropdown', data-original-title='Select')
              i.fa.fa-square-o
              span.caret
            ul.dropdown-menu
              li
                a.all-select(href='#') All
              li
                a.select-none(href='#') None
              li
                a(href='#') Read
              li
                a(href='#') Unread
              li
                a(href='#') Starred
              li
                a(href='#') Unstarred
          .btn-group
            button.btn.btn-primary(data-placement='bottom', data-toggle='tooltip', title='', type='button', data-original-title='Refresh')
              i.fa.fa-refresh
            button.btn.btn-primary(data-placement='bottom', data-toggle='tooltip', title='', type='button', data-original-title='Spam')
              i.fa.fa-exclamation-circle
            button.btn.btn-primary(data-placement='bottom', data-toggle='tooltip', title='', type='button', data-original-title='Erase')
              i.fa.fa-trash-o
          .btn-group
            button.btn.btn-primary.dropdown-toggle.has-tooltip(title='', type='button', data-toggle='dropdown', data-original-title='Labels')
              i.fa.fa-tag
              span.caret
            ul.dropdown-menu.dropdown-menu-right
              li
                a(href='#')
                  i.fa.fa-circle.green
                  |  Work
              li
                a(href='#')
                  i.fa.fa-circle.red
                  |  Home
              li
                a(href='#')
                  i.fa.fa-circle.yellow
                  |  Personal
              li
                a(href='#')
                  i.fa.fa-circle.purple
                  |  Documents
        #email-header-pagination.pull-right
          .btn-group.pagination.pull-right
            button.btn.btn-primary(data-placement='bottom', data-toggle='tooltip', title='', type='button', data-original-title='Previous')
              i.fa.fa-chevron-left
            button.btn.btn-primary(data-placement='bottom', data-toggle='tooltip', title='', type='button', data-original-title='Next')
              i.fa.fa-chevron-right
          .num-items.pull-right.hidden-xs
            | 1-50 from 5,912