
<ul id="email-nav-items" style="height:700px; overflow-y:scroll;" class="clearfix email-navigation">
  <li data-id="{$id}" class="internal-conversion-emp-list"><a href="#" data-mailbox="_Received" data-filter-contacts='0' data-starred='0'><i class="fa fa-inbox"></i>All<span class="label label-primary pull-right">{inbox_count}0{/}</span></a></li>{rows}
  {row}    
  <li data-id="{$id}" class="internal-conversion-emp-list"><a href="#" data-id="{$id}" data-mailbox="_ContactReceivedEmail" data-filter-contacts="{$id}" data-starred='0'><i style="color:{$color}" class="fa fa-circle"></i>{name}Contacts Inbox{/}<span class="label label-primary pull-right">{contat_inbox_count}0{/}</span></a></li>{/}{/}
</ul>