
<div id="{$_name}" class="internal-conversion-lister">
  <div class="row">
    <div class="col-lg-12">
      <div class="main-box clearfix">
        <header class="main-box-header clearfix">
          <h2>Conversation</h2>
        </header>
        <div class="main-box-body clearfix">
          <div class="conversation-wrapper">
            <div class="conversation-content">
              <div style="position: relative; overflow: hidden; width: auto; height: 580px;" class="slimScrollDiv">
                <div style="overflow-y: scroll; width: auto;  height: 580px;" class="conversation-inner">{rows}{row}
                  <div class="conversation-item clearfix item-{$position}">
                    <div class="conversation-user">{avatar}<img src="img/samples/kunis.png" alt=""/>{/}  </div>
                    <div class="conversation-body"><a data-id="{$id}" class="name {$unread}">
                        {from_name}Ryan Gossling{/}
                        {trash_wrapper}<a href="#" data-id="{$id}" class="table-link danger do-delete-conversion pull-right"><span class="fa-stack"><i class="fa fa-square fa-stack-2x"></i><i class="fa fa-stack-1x fa-inverse fa-trash-o"></i></span></a>{/}<br/></a><small class="text-muted">To: {$to_name}  </small>
                      <div class="time hidden-xs">&nbsp;{callback_date}September 21, 2013 18:28{/}</div>
                      <div data-id="{$id}" style="display:none" class="text">
                        {message}
                        I don't think they tried to market it to the billionaire, spelunking,
                        base-jumping crowd.{/}<br/><br/>
                        <div id="email-attachments-content" class="msg-attachment">{$Attachments}</div>
                      </div>
                    </div>
                  </div>{/}
                  {/}
                </div>
                <div style="background: rgb(0, 0, 0) none repeat scroll 0% 0%; width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 158.648px;" class="slimScrollBar"></div>
                <div style="width: 7px; height: 100%; position: absolute; top: 0px; border-radius: 7px; background: rgb(51, 51, 51) none repeat scroll 0% 0%; opacity: 0.2; z-index: 90; right: 1px; display: none;" class="slimScrollRail"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .form-control{
    border-color:#e7ebee!important;
  }
  .conversation-wrapper .conversation-body > .name{
    font-weight:100;
  }
  a.name{
    cursor:pointer;
  }
</style>
<script>
  //- jQuery(document).ready(function(){
  //-   jQuery('.name').on('click', function(event) {        
  //-        $(this).parent().find('.text').toggle('hide'); 
  //-   });
  //- });  
</script>