div.internal-conversion-lister(id="{$_name}")
  .row
    .col-lg-12
      .main-box.clearfix
        header.main-box-header.clearfix
          h2 Conversation
        .main-box-body.clearfix
          .conversation-wrapper
            .conversation-content
              .slimScrollDiv(style='position: relative; overflow: hidden; width: auto; height: 580px;')
                .conversation-inner(style='overflow-y: scroll; width: auto;  height: 580px;')
                  {rows}{row}
                  .conversation-item.clearfix(class="item-{$position}")
                    .conversation-user
                      {avatar}
                      img(src='img/samples/kunis.png', alt='')
                      {/}  
                    .conversation-body
                      a.name(class="{$unread}"  data-id="{$id}")
                        | {from_name}Ryan Gossling{/}
                        br
                      small.text-muted
                        |To: {$to_name}  
                      .time.hidden-xs
                        | &nbsp;{callback_date}September 21, 2013 18:28{/}
                      .text(data-id="{$id}" style="display:none")
                        {message}
                        | I don't think they tried to market it to the billionaire, spelunking,
                        | base-jumping crowd.{/}
                        br
                        br  
                        #email-attachments-content.msg-attachment
                          {$Attachments}
                  {/}

                  
                  {/}
                .slimScrollBar(style='background: rgb(0, 0, 0) none repeat scroll 0% 0%; width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 158.648px;')
                .slimScrollRail(style='width: 7px; height: 100%; position: absolute; top: 0px; border-radius: 7px; background: rgb(51, 51, 51) none repeat scroll 0% 0%; opacity: 0.2; z-index: 90; right: 1px; display: none;')
style.
  .form-control{
    border-color:#e7ebee!important;
  }
  .conversation-wrapper .conversation-body > .name{
    font-weight:100;
  }
  a.name{
    cursor:pointer;
  }
script.
        //- jQuery(document).ready(function(){
        //-   jQuery('.name').on('click', function(event) {        
        //-        $(this).parent().find('.text').toggle('hide'); 
        //-   });
        //- });  