ul#email-nav-items.clearfix.email-navigation(style="height:700px; overflow-y:scroll;")
            li.internal-conversion-emp-list(data-id="{$id}")
              a(href='#' data-mailbox='_Received' data-filter-contacts=0 data-starred=0)
                i.fa.fa-inbox
                | All
                span.label.label-primary.pull-right {inbox_count}0{/}
            {rows}
            {row}    
            li.internal-conversion-emp-list(data-id="{$id}")
              a(href='#' data-id="{$id}" data-mailbox='_ContactReceivedEmail' data-filter-contacts="{$id}" data-starred=0)
                i.fa.fa-circle(style="color:{$color}")
                | {name}Contacts Inbox{/}
                span.label.label-primary.pull-right {contat_inbox_count}0{/}
            {/}{/}