#email-nav-labels-wrapper
            .email-nav-headline
              | Labels
            ul#email-nav-labels.clearfix
              li.active
                a.mailbox(href='#' data-mail='%')
                  i.fa.fa-circle.emerald
                  | All
              {rows}{row}
              li.active
                a.mailbox(href='#' data-mail='{$email_username}')
                  i.fa.fa-circle.emerald
                  {name}| Info{/}
                  span.label.label-default.pull-right 
                    {$unread_email} / {email_count}11{/}
              {/row}                  
              li
                a(href='#')
                  i.fa.fa-circle.red
                  | Management
              li
                a(href='#')
                  i.fa.fa-circle.green
                  | Support
              li
                a(href='#')
                  i.fa.fa-circle.yellow
                  | Personal
              {/rows}    

style.
  ul#email-nav-labels{
    min-height:50px;
    max-height:300px;
    overflow-y:scroll;
  }
