#email-nav-labels-wrapper
            .email-nav-headline
              | Labels
            ul#email-nav-labels.clearfix
              {rows}{row}
              li
                a(href='#')
                  i.fa.fa-circle.emerald
                  {email_username}| Info{/}
              {/row}                  
              li
                a(href='#')
                  i.fa.fa-circle.red
                  | Management
              li
                a(href='#')
                  i.fa.fa-circle.green
                  | Support
              li
                a(href='#')
                  i.fa.fa-circle.yellow
                  | Personal
              {/rows}    