
<div id="email-nav-labels-wrapper">
  <div class="email-nav-headline">Labels</div>
  <ul id="email-nav-labels" class="clearfix">
    <li class="active"><a href="#" data-mail="%" class="mailbox"><i class="fa fa-circle emerald"></i>All</a></li>{rows}{row}
    <li class="active"><a href="#" data-mail="{$email_username}" class="mailbox"><i class="fa fa-circle emerald"></i>{name}| Info{/}<span class="label label-default pull-right">
           
          {$unread_email} / {email_count}11{/}</span></a></li>{/row}                  
    <li><a href="#"><i class="fa fa-circle red"></i>Management</a></li>
    <li><a href="#"><i class="fa fa-circle green"></i>Support</a></li>
    <li><a href="#"><i class="fa fa-circle yellow"></i>Personal</a></li>{/rows}    
  </ul>
</div>
<style>
  ul#email-nav-labels{
    min-height:50px;
    max-height:300px;
    overflow-y:scroll;
  }
</style>