
<div id="{$_name}">
  <div tabindex="0" style="right: -13px;" class="email-content-nano-content">
    <ul id="email-list">{rows}{row}
      <li data-id="{$id}" class="clickable-row {$unread}">
        <div data-id="{$id}" class="chbox">
          <div class="checkbox-nice">
            <input id="m-checkbox-{$id}" type="checkbox"/>
            <label for="m-checkbox-{$id}"></label>
          </div>
        </div>
        <div data-id="{$id}" class="star"><a data-id="{$id}" data-starred="{$is_starred}" class="{$starred}"></a></div>
        <div style="overflow:hidden" data-id="{$id}" class="name">{communication_with}Mila Kunis{/}</div>
        <div data-id="{$id}" class="message"><span class="label label-success">{status}Work{/}</span><span class="subject">{subject}Like your new movie -{/}&nbsp;</span><span class="body">{body}Hi beauty, I watched your movies last night.{/}</span></div>
        <div data-id="{$id}" class="meta-info">{check_attach}<a href="#" class="attachment"><i class="fa fa-paperclip">{/}</i></a><span class="date">{callback_date}9:34 am{/}</span></div>
      </li>{/}{/}
    </ul>
  </div>
  <div class="nano-pane">
    <div style="height: 274px; transform: translate(0px, 0px);" class="nano-slider"></div>
  </div>
</div>