div(id="{$_name}")
  .email-content-nano-content(tabindex='0', style='right: -13px;')
    ul#email-list
      {rows}{row}
      li.unread.clickable-row(data-id="{$id}")
        .chbox
          .checkbox-nice
            input#m-checkbox-1(type='checkbox')
            label(for='m-checkbox-1')
        .star
          a
        .name(style='overflow:hidden') {communication_with}Mila Kunis{/}
        .message
          span.label.label-success Work
          span.subject {subject}Like your new movie -{/}&nbsp;
          span.body {body}Hi beauty, I watched your movies last night.{/}
        .meta-info
          a.attachment(href='#')
            i.fa.fa-paperclip
          span.date {callback_date}9:34 am{/}
      {/}{/}
  .nano-pane
    .nano-slider(style='height: 274px; transform: translate(0px, 0px);')