
<div id="{$_name}">
  <div tabindex="0" style="right: -13px;" class="email-content-nano-content">
    <ul id="email-list">{rows}{row}
      <li data-href="email-detail.html" class="clickable-row">
        <div class="chbox">
          <div class="checkbox-nice">
            <input id="m-checkbox-1" type="checkbox"/>
            <label for="m-checkbox-1"></label>
          </div>
        </div>
        <div class="star"><a></a></div>
        <div style="overflow:hidden" class="name">{callback_from}Mila Kunis{/}</div>
        <div class="message"><span class="label label-success">Work</span><span class="subject">{callback_subject}Like your new movie -{/}&nbsp;</span><span class="body">{description}Hi beauty, I watched your movies last night.{/}</span></div>
        <div class="meta-info"><a href="#" class="attachment"><i class="fa fa-paperclip"></i></a><span class="date">{callback_date}9:34 am{/}</span></div>
      </li>{/}{/}
    </ul>
  </div>
  <div class="nano-pane">
    <div style="height: 274px; transform: translate(0px, 0px);" class="nano-slider">   </div>
  </div>
</div>