div.xepan-communication-email-list(id="{$_name}" class="{$class}")
  .email-content-nano-content(tabindex='0', style='right: -13px;')
    header#email-header.clearfix
      .xepan-push {$search_form}
      #email-header-tools
        .btn-group
          button.btn.btn-primary.back-inbox(style="display:none" data-placement='bottom', data-toggle='tooltip', title='Back to Inbox', type='button', data-original-title='back-inbox')
            i.fa.fa-arrow-left
        .btn-group
          button.btn.btn-primary.dropdown-toggle.has-tooltip(title='', type='button', data-toggle='dropdown', data-original-title='Select')
            i.fa.fa-square-o
            span.caret
          ul.dropdown-menu
            li
              a.all-select(href='#') All
            li
              a.select-none(href='#') None
            li
              a.select-read(href='#') Read
            li
              a.select-unread(href='#') Unread
            li
              a.select-starred(href='#') Starred
            li
              a.select-unstarred(href='#') Unstarred
        .btn-group
          button.fetch-refresh.btn.btn-primary(data-placement='bottom', data-toggle='tooltip', title='', type='button', data-original-title=' Fetch And Refresh Emails')
            i.fa.fa-refresh
          button.btn.btn-primary.do-spam(data-placement='bottom', data-toggle='tooltip', title='Mark Spam', type='button', data-original-title='Spam')
            i.fa.fa-exclamation-circle
          button.do-delete.btn.btn-primary(data-placement='bottom', data-toggle='tooltip', title='', type='button', data-original-title='Erase')
            i.fa.fa-trash-o
          button.mark-allread.btn.btn-primary(data-placement='bottom', data-toggle='tooltip', title='', type='button', data-original-title='Mark All As Read')
            i.fa.fa-check-square-o
        .btn-group
          button.btn.btn-primary.dropdown-toggle.has-tooltip(title='', type='button', data-toggle='dropdown', data-original-title='Select')
            //- i.fa.fa-square-o
            |More
            span.caret
          ul.dropdown-menu
            li
              a.do-unread(href='#') Mark as Unread
            //- li
            //-   a.select-none(href='#') Mark as Star
            li
              a.do-notspam(href='#') Mark as Not Spam

      #email-header-pagination.pull-right
        .pull-right.xepan-push{$paginator}
        //- .btn-group.pagination.pull-right
        //-   button.btn.btn-primary(data-placement='bottom', data-toggle='tooltip', title='', type='button', data-original-title='Previous')
        //-     i.fa.fa-chevron-left
        //-   button.btn.btn-primary(data-placement='bottom', data-toggle='tooltip', title='', type='button', data-original-title='Next')
        //-     i.fa.fa-chevron-right
        //- .num-items.pull-right.hidden-xs
        //-   | 1-50 from 5,912
      .col-md-4
      .col-md-4
        {$message}
      .col-md-4        
    ul#email-list
      {rows}{row}
      li.clickable-row(data-id="{$id}" class="{$unread} {$draft}")
        .chbox(data-id="{$id}")
          .checkbox-nice
            input(data-id="{$id}" id='m-checkbox-{$id}' type='checkbox' )
            label(for='m-checkbox-{$id}')
        .star(data-id="{$id}")
          a(data-id="{$id}" data-starred="{$is_starred}" class="{$starred}")
        .name(style='overflow:hidden' data-id="{$id}") {communication_with}Mila Kunis{/}
        .message(data-id="{$id}")
          span.label.label-success {$email_name}
          span.subject {subject}Like your new movie -{/}&nbsp;
          span.body {body}Hi beauty, I watched your movies last night.{/}
        .meta-info(data-id="{$id}")
          {check_attach}
          a.attachment(href='#')
            i.fa.fa-paperclip{/}
          span.date {callback_date}9:34 am{/}
      {/}{/}
  .nano-pane
    .nano-slider(style='height: 600px; transform: translate(0px, 0px);')

script.
    
    $('li.draft-message').removeClass('clickable-row');  
    
    $("li.clickable-row  div:not(.chbox, .star,.checkbox-nice)").click(function(){
        $("#email-list").hide();
        $(".nano-slider").css('height','0px');
        $(".email-detail").show();
        $(".back-inbox").show();
    });

    $('button.back-inbox').click(function(){
        $("#email-list").show();
        $(".nano-slider").css('height','500px');
        $(".email-detail").hide();
    
    });

style.
  .pull-right.xepan-push > .paginator{
    margin-top:0px!important;
  }
  #email-header-tools{
    margin-left:auto;
  }  
  #email-header{
    padding-bottom:0px;
  }    