
<ul id="email-nav-items" class="clearfix">
  <li class="active"><a href="#"><i class="fa fa-inbox"></i>Contacts Inbox<span class="label label-primary pull-right">13</span></a></li>
  <li><a href="#"><i class="fa fa-inbox"></i>Inbox All<span class="label label-primary pull-right">83</span></a></li>
  <li><a href="#"><i class="fa fa-star"></i>Starred</a></li>
  <li><a href="#"><i class="fa fa-pencil"></i>Drafts</a></li>
  <li><a href="#"><i class="fa fa-envelope"></i>Sent<span class="label label-default pull-right">11</span></a></li>
  <li><a href="#"><i class="fa fa-trash-o"></i>Trash<span class="label label-default pull-right">1,292</span></a></li>
</ul>