
<ul id="email-nav-items" class="clearfix email-navigation">
  <li><a href="#" data-mailbox="_Received" data-filter-contacts='0' data-starred='0'><i class="fa fa-inbox"></i>Inbox All<span class="label label-primary pull-right unread-email-view">{inbox_count}0{/}</span></a></li>
  <li><a href="#" data-mailbox="_ContactReceivedEmail" data-filter-contacts='1' data-starred='0'><i class="fa fa-inbox"></i>Contacts Inbox<span class="label label-primary pull-right unread-email-view">{contat_inbox_count}0{/}</span></a></li>
  <li><a href="#" data-mailbox="_Starred" data-filter-contacts='0' data-starred='1'><i class="fa fa-star"></i>Starred<span class="label label-default pull-right">{starred_count}0{/}</span></a></li>
  <li><a href="#" data-mailbox="_Draft" data-filter-contacts='0' data-starred='1'><i class="fa fa-pencil"></i>Drafts<span class="label label-default pull-right">{draft_count}0{/}</span></a></li>
  <li><a href="#" data-mailbox="_Sent" data-filter-contacts='0' data-starred='1'><i class="fa fa-envelope"></i>Sent<span class="label label-default pull-right">{sent_email_count}0{/}</span></a></li>
  <li><a href="#" data-mailbox="_Junk" data-filter-contacts='0' data-starred='1'><i class="fa fa-envelope"></i>Junk<span class="label label-default pull-right">{junk_count}0{/}    </span></a></li>
  <li><a href="#" data-mailbox="_Trashed" data-filter-contacts='0' data-starred='1'><i class="fa fa-trash-o"></i>Trash<span class="label label-default pull-right">{trash_count}0{/}</span></a></li>
</ul>