ul#email-nav-items.clearfix.email-navigation
            li
              a(href='#' data-mailbox='_Received' data-filter-contacts=0 data-starred=0)
                i.fa.fa-inbox
                | Inbox All
                span.label.label-primary.pull-right.unread-email-view {inbox_count}0{/}
            li
              a(href='#' data-mailbox='_ContactReceivedEmail' data-filter-contacts=1 data-starred=0)
                i.fa.fa-inbox
                | Contacts Inbox
                span.label.label-primary.pull-right.unread-email-view {contat_inbox_count}0{/}
            li
              a(href='#' data-mailbox='_Starred' data-filter-contacts=0 data-starred=1)
                i.fa.fa-star
                | Starred
                span.label.label-default.pull-right {starred_count}0{/}
            li
              a(href='#' data-mailbox='_Draft' data-filter-contacts=0 data-starred=1)
                i.fa.fa-pencil
                | Drafts
                span.label.label-default.pull-right {draft_count}0{/}
            li
              a(href='#' data-mailbox='_Sent' data-filter-contacts=0 data-starred=1)
                i.fa.fa-envelope
                | Sent
                span.label.label-default.pull-right {sent_email_count}0{/}
            li
              a(href='#' data-mailbox='_Junk' data-filter-contacts=0 data-starred=1)
                i.fa.fa-envelope
                | Junk
                span.label.label-default.pull-right {junk_count}0{/}    
            li
              a(href='#' data-mailbox='_Trashed' data-filter-contacts=0 data-starred=1)
                i.fa.fa-trash-o
                | Trash
                span.label.label-default.pull-right {trash_count}0{/}