ul#email-nav-items.clearfix
            li.active
              a(href='#')
                i.fa.fa-inbox
                | Contacts Inbox
                span.label.label-primary.pull-right 13
            li
              a(href='#')
                i.fa.fa-inbox
                | Inbox All
                span.label.label-primary.pull-right 83
            li
              a(href='#')
                i.fa.fa-star
                | Starred
            li
              a(href='#')
                i.fa.fa-pencil
                | Drafts
            li
              a(href='#')
                i.fa.fa-envelope
                | Sent
                span.label.label-default.pull-right 11
            li
              a(href='#')
                i.fa.fa-trash-o
                | Trash
                span.label.label-default.pull-right 1,292