
<div class="col-lg-12">
  <div class="main-box clearfix">
    <header class="main-box-header clearfix text-center">
      <h1>Communication Detail</h1>
    </header>
    <div class="main-box-body clearfix">
      <div class="panel panel-default panel-heading strong">
        <div class="row xepan-push">
          <div class="col-lg-4">
            <label> </label><strong>From Person Name :</strong>
            <div>{$from}</div>
          </div>
          <div class="col-lg-4">
            <label> </label><strong>To Person Name:</strong>
            <div>{$to}</div>
          </div>
          <div class="col-lg-4">
            <label> </label><strong>To Related Document Name :</strong>
            <div>{$related_document}</div>
          </div>
        </div>
        <div class="row xepan-push">
          <div class="col-lg-4">
            <label> </label><strong>Created By :</strong>
            <div>{$created_by}</div>
          </div>
          <div class="col-lg-4">
            <label> </label><strong>Created At :</strong>
            <div>{$created_at}</div>
          </div>
          <div class="col-lg-4">
            <label> </label><strong>Direction :</strong>
            <div>{$direction}</div>
          </div>
        </div>
        <div class="row xepan-push">
          <div class="col-lg-4">
            <label> </label><strong>Status :</strong>
            <div>{$status}</div>
          </div>
          <div class="col-lg-4">
            <label> </label><strong>Attachment Count :</strong>
            <div>{$attachment_count}</div>
          </div>
          <div class="col-lg-4">
            <label> </label><strong>Text :</strong>
            <div>{$text}</div>
          </div>
        </div>
        <div class="row xepan-push">
          <div class="col-lg-4">
            <label> </label><strong>Communication Type :</strong>
            <div>{$communication_type}</div>
          </div>
          <div class="col-lg-4">
            <label> </label><strong>Title :</strong>
            <div>{$title}</div>
          </div>
        </div>
      </div>
      <div class="panel panel-default panel-heading strong">
        <div class="row xepan-push">
          <div class="col-lg-12">
            <label> </label><strong>Description :</strong>
            <div>{$detail}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>