.col-lg-12
  .main-box.clearfix
    header.main-box-header.clearfix.text-center
      h1 Communication Detail
    .main-box-body.clearfix
      .panel.panel-default.panel-heading.strong
        .row.xepan-push
          .col-lg-4
            label  
            strong From Person Name :
            div {$from}
          .col-lg-4
            label  
            strong To Person Name:
            div {$to}
          .col-lg-4
            label  
            strong To Related Document Name :
            div {$related_document}
        .row.xepan-push
          .col-lg-4
            label  
            strong Created By :
            div {$created_by}
          .col-lg-4
            label  
            strong Created At :
            div {$created_at}
          .col-lg-4
            label  
            strong Direction :
            div {$direction}
        .row.xepan-push
          .col-lg-4
            label  
            strong Status :
            div {$status}
          .col-lg-4
            label  
            strong Attachment Count :
            div {$attachment_count}
          .col-lg-4
            label  
            strong Text :
            div {$text}
        .row.xepan-push
          .col-lg-4
            label 
            strong Communication Type :
            div {$communication_type}
          .col-lg-4
            label  
            strong Title :
            div {$title}
      .panel.panel-default.panel-heading.strong
        .row.xepan-push
          .col-lg-12
            label  
            strong Description :
            div {$detail}